# Server Configuration
PORT=5000
NODE_ENV=development

# Database - MongoDB Atlas

MONGO_URI=mongodb+srv://shahariararian1_db_user:utNiwiI7Hqn4j6k5@medify247.cosgqpr.mongodb.net/?appName=medify247
# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRE=7d

# Cloudinary Configuration 
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=165659424529151
CLOUDINARY_API_SECRET=CF3tNTVHfsOqReb-lFjYX6XUQqo

# OTP Configuration (Simulation)
OTP_SECRET=your_otp_secret_key

# Email Configuration (Optional)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Upload Configuration
MAX_FILE_SIZE=5242880
